<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="report.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Ecommerce.Ecommerce.testfour"/>
      <class name="Ecommerce.Ecommerce.testsix"/>
      <class name="Ecommerce.Ecommerce.testfive"/>
      <class name="Ecommerce.Ecommerce.testseven"/>
      <class name="Ecommerce.Ecommerce.testthree"/>
      <class name="Ecommerce.Ecommerce.testtwo"/>
      <class name="Ecommerce.Ecommerce.testeigth"/>
      <class name="Ecommerce.Ecommerce.AppTest"/>
      <class name="Ecommerce.Ecommerce.testone"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
